body{
    background-color: rgb(220, 20, 60);
}

h1{
    font-size: 300%;
}
p{
   color: black;


}

h3{
    color: red;
    justify-content: center;
   
}
#header{
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


li{
    color: white;
}
#title{
    color: white;
}

.c-link{
    margin-bottom: 1em;
}
.c-link:hover{
    color: red;
    transform: scale(2);
    font-weight: bold;
}

.slider{
    aspect-ratio: 10 / 16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;


}